apiVersion: apps/v1
kind: Deployment
metadata:
  name: deployment-app
spec:
  template:
    spec:
      containers:
        - name: app
          resources:
            limits:
              cpu: "1000m"
              memory: "1Gi"
            requests:
              cpu: "250m"
              memory: "256Mi"
