apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - namespace.yaml
  # Note: Services are deployed via Puppet Bolt tasks, not Kustomize
  # See puppet/tasks/deploy_data_stack.sh and setup_monitoring.sh
